{"swagger":"2.0","info":{"version":"v1","title":"Version 1 of the Micron API","description":"## OVERVIEW\r\n\r\nTop Performance is a leading-edge performance management software by Micron Systems, the industry leader with more than 25 years of experience providing software specialized for the legal and accounting industries.\r\n\r\nTop Performance implements a comprehensive collection of REST (Representational State Transfer) APIs. These APIs allow you to pull data from, add data to, and modify or remove data within Top Performance with precision and ease. Most functionality offered within the application can also be accessed through the APIs.\r\n\r\n## FEATURES\r\n\r\n* Manage your firm's Maintenance Tables\r\n\r\n* Configure Security Roles and Groups\r\n\r\n* Import Employee data\r\n\r\n\r\n**Note:** This documentation is for the v1.0 of the APIs.\r\n\r\n## POLICIES\r\n\r\n### Deprecation Policy:\r\n\r\nThe current version of production level APIs is v1. When a new version of APIs is made generally available, the older version will be deprecated and will cease to function after six months. Once an API is removed, any request to it will result in a 404 error.\r\n\r\n\r\n**Note:** We will not remove any API until similar functionality is present in the new version\r\n\r\n\r\n### Breaking Change Policy:\r\n\r\nChanges that do not break an API, such as adding a new attribute can be made at any time. Changes that break a production level API such as removing attributes or making major changes to the API’s behavior will only be done with an advance notice of 60 days. However, there may be rare occasions where due to legal, performance, or security reasons, we are forced to make breaking changes without advance notice.\r\n\r\n## Getting Started\r\n\r\n### AUTHENTICATION\r\n\r\nThe firms who wish to use the Top Performance APIs will be given a client_id and client_secret. These will be provided upon request.\r\nTo get an access token to call Top Performance APIs, do a POST call to the below endpoint:\r\n`/oauth/v1/token`\r\n\r\n#####Request Parameters in Header:\r\n| Param \t| Description                                   \t|\r\n|--------\t|-------------------------------------------\t|\r\n| `Authorization`   \t| The client_id and client_secret must be passed in the authorization header through Basic HTTP authorization. The secret is `Basic Base64Encode(client_id:client_secret`.|\r\n| `Content-Type`   \t| Must always be set to `application/x-www-form-urlencoded`.                          \t|\r\n\r\n#####Request Parameters in Body:\r\n| Param \t| Description                                   \t|\r\n|--------\t|-------------------------------------------\t|\r\n| `grant_type`   \t|Required. Must be set to `client_credentials` in the request body. |\r\n\r\nExample:\r\n\r\n    POST /oauth/v1/token HTTP/1.1\r\n    Host: firm.micronapps.com\r\n    Authorization: Basic MXZiazJxbHVvbmppc3ZlOG1jZ2d2d\r\n    Content-Type: application/x-www-form-urlencoded\r\n    grant_type=client_credentials\r\n\r\n#####Response Parameters in Body:\r\n| Param \t| Description                                   \t|\r\n|--------\t|-------------------------------------------\t|\r\n| `access_token`   \t| The access_token parameter to connect with the Top Performance API.|\r\n| `token_type`   \t| The token type.                          \t|\r\n| `expires_in`   \t| The token's life span (default is 3600) in seconds.                          \t|\r\n\r\nSample Response:\r\n\r\n    HTTP/1.1 200 OK\r\n    Content-Type: application/json\r\n    {\r\n        errors:[],\r\n        fieldErrors:[],\r\n        result:\r\n            {\r\n                access_token:'eyJraWQiOiJUUGFIY3QxcXFIN',\r\n                expires_in: 3600,\r\n                token_type: 'Bearer'\r\n            },\r\n        responseMetadata: null\r\n    }\r\n\r\n\r\n### API METHODS\r\n\r\nTop Performance APIs are plain JSON over HTTPS and use the following HTTPS methods:\r\n\r\n| METHOD | PURPOSE |\r\n| --------   | -------------------------------------------    |\r\n| POST | Create an object |\r\n| GET | Fetch one or more objects |\r\n| PUT | Update an object |\r\n| PATCH | Update an object and any references to it |\r\n| DELETE | Remove an object |\r\n\r\n### RESPONSES\r\n\r\nAll response data is returned as a JSON object.See the particular API Endpoint for a description of all the retrievable objects.\r\n\r\n### RESPONSE STATUS CODES\r\n\r\nTop Performance APIs use the following response status codes, as defined in the RFC 2616 and RFC 6585:\r\n\r\n\r\n| STATUS CODE |       | DESCRIPTION |\r\n| -------------  | ---    | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------    |\r\n| 200 | | OK: Request completed successfully without errors.                                                    |\r\n| 202 | | Accepted: The request is accepted for processing, but the processing is not complete.\t\t\t\t|\r\n| 201 | | Created: Request is complete, and a new resource is created successfully.\t\t\t\t\t\t\t|\r\n| 400 | | Bad Request: Request completed with errors.                                                           |\r\n| 401 | | Unauthorized: Request lacks valid authorization credentials.                                      |\r\n| 403 | | Forbidden: User does not have permission to invoke the requested API method.                      |\r\n| 404 | | Not Found: Requested resource was not found, and no other information is available.                   |\r\n| 405 | | Method Not Allowed: The method specified in the request is not allowed.\t\t\t\t\t\t\t\t|\r\n| 409 | | Conflict: The request could not be completed because of a conflict.                                   |\r\n| 415 | | Unsupported Media Type: Request refused because the format or “Content - Type” header was not recognized or accepted by the server. |\r\n| 500 | | Internal Server Error: Generic error code for an internal server error.The request was not completed. The server met an unexpected condition.\t|\r\n| 503 |\t| Service Unavailable: Server is unable to process your request currently. The request was not completed.The server is temporarily overloading or down.\t|\r\n\r\n### Response Schema\r\n\r\n#### Regular Error Object: \r\n\r\nApart from the response code, unsuccessful responses return a JSON object containing the following information:\r\n\r\n| KEY       | VALUE TYPE \t| VALUE DESCRIPTION                                 \t|\r\n|---------\t|------------\t|---------------------------------------------------\t|\r\n| IsValid   | Boolean       | An indicator if the object passed is valid or not     |\r\n| Errors    | -          \t| A list of all the errors encountered.                 |\r\n| Field     | string        | A specific field of the error                     \t|\r\n| Message   | string        | A short description of the cause of the error.    \t|\r\n\r\n\r\n"},"host":"austin.api.tp.micronapps.com","schemes":["https"],"paths":{"/api/v1/employee-accounting/{employeeId}":{},"/api/v1/developmentPlan/{developmentPlanId}/activity":{"get":{"tags":["Development Activity"],"summary":"Get a list of all Development Activities associated with {developmentPlanId}","description":"API endpoint: api/v1/developmentPlan/{developmentPlanId}/activity\n\n","operationId":"Activity_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"developmentPlanId","in":"path","description":"The Development Plan id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns a list of all Development Activities.","schema":{"$ref":"#/definitions/Activity_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Development Activity"],"summary":"Create new Development Activity associated with {developmentPlanId}","description":"API endpoint: api/v1/developmentPlan/{developmentPlanId}/activity\n\n","operationId":"Activity_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"developmentPlanId","in":"path","description":"The Development Plan id.","required":true,"type":"integer","format":"int32"},{"name":"create","in":"body","description":"The Development Activity record.","required":true,"schema":{"$ref":"#/definitions/Activity_Post-create"}}],"responses":{"200":{"description":"Returns the created Development Activity.","schema":{"$ref":"#/definitions/Activity_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/developmentPlan/{developmentPlanId}/activity/{activityId}":{"delete":{"tags":["Development Activity"],"summary":"Delete record for Development Activity {activityId}","description":"API endpoint: api/v1/developmentPlan/{developmentPlanId}/activity/{activityId}\n\n","operationId":"Activity_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"activityId","in":"path","description":"The Development Activity id.","required":true,"type":"integer","format":"int32"},{"name":"developmentPlanId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Development Activit record.","schema":{"$ref":"#/definitions/Activity_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Development Activity"],"summary":"Update record for Development Activity {activityId}","description":"API endpoint: api/v1/developmentPlan/{developmentPlanId}/activity/{activityId}\n\n","operationId":"Activity_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"activityId","in":"path","description":"The Development Activity id.","required":true,"type":"integer","format":"int32"},{"name":"patch","in":"body","description":"The Development Activity record.","required":true,"schema":{"$ref":"#/definitions/Activity_Post-create"}},{"name":"developmentPlanId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the updated Development Activity record.","schema":{"$ref":"#/definitions/Activity_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {activityId} does not correspond to an activity. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/activity/{activityId}/attachment":{"put":{"tags":["Development Activity - Attachment"],"summary":"Upload an attachment associated with {activityId}","description":"API endpoint: api/v1/activity/{activityId}/attachment\n\n","operationId":"ActivityAttachment_PutFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"activityId","in":"path","description":"The Development Activity id.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the attachment details.","schema":{"$ref":"#/definitions/ActivityAttachment_PutFile"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {activityId} does not correspond to a activity. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/activity/{activityId}/attachment/{filename}":{},"/api/v1/activity/{activityId}/attachment/{filename}/download":{},"/api/v1/activity/{activityId}/attachment/{filename}/delete":{},"/api/v1/activity/{activityId}/attachment/{filename}/visibility":{},"/api/v1/developmentPlan/{developmentPlanId}/activity/{activityId}/comment":{},"/api/v1/developmentPlan/{developmentPlanId}/activity/{activityId}/comment/{commentId}":{},"/api/v1/activityStatus":{},"/api/v1/activityStatus/{code}/usages":{},"/api/v1/activityStatus/{currentCode}/replace/{newCode}":{},"/api/v1/activityStatus/{code}":{},"/api/v1/activityType":{},"/api/v1/activityType/{code}/usages":{},"/api/v1/activityType/{currentCode}/replace/{newCode}":{},"/api/v1/activityType/{code}":{},"/api/v1/adminlogin":{},"/api/v1/answerorientation":{},"/api/v1/answerorientation/{code}/usages":{},"/api/v1/answerorientation/{currentCode}/replace/{newCode}":{},"/api/v1/answerorientation/{code}":{},"/api/v1/applicationpool/{name}":{},"/api/v1/applicationpool/{name}/toggle":{},"/api/v1/applicationpool/recycle":{},"/api/v1/audit/tables":{},"/api/v1/audit":{},"/api/v1/audit/{table}":{},"/api/v1/audit/{table}/{id}":{},"/api/v1/aws/s3/{key}":{},"/api/v1/cemNewIntegration/competency":{},"/api/v1/cemNewIntegration/courseHistory":{},"/api/v1/cemNewIntegration/course/all":{},"/api/v1/cemNewIntegration/learningPlan":{},"/api/v1/cemNewIntegration/learningPlan/all":{},"/api/v1/cemNewIntegration/compliance":{},"/api/v1/claim":{},"/api/v1/claim/{claimName}":{},"/api/v1/client":{"get":{"tags":["Client"],"summary":"Get a list of all Clients.","description":"API endpoint: api/v1/client\n\n","operationId":"Client_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Clients.","schema":{"$ref":"#/definitions/Client_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"CLIENTA","values":{},"name":"Client A","active":true,"createdAt":"2023-03-09T15:41:10.1388698Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.1388698Z","modifiedBy":"adminusername"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Client"],"summary":"Create a new Client record.","description":"API endpoint: api/v1/client\n\n","operationId":"Client_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Client record.","required":true,"schema":{"$ref":"#/definitions/Client_Post-model"}}],"responses":{"200":{"description":"Returns the created Client record.","schema":{"$ref":"#/definitions/Client_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"CLIENTA","values":{},"name":"Client A","active":true,"createdAt":"2023-03-09T15:41:10.1498708Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.1498708Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/client/{code}/usages":{"get":{"tags":["Client"],"summary":"Get all references for Client {code}.","description":"API endpoint: api/v1/client/{code}/usages\n\n","operationId":"Client_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Client references.","schema":{"$ref":"#/definitions/Client_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/client/dropdown":{},"/api/v1/client/{currentCode}/replace/{newCode}":{"put":{"tags":["Client"],"summary":"Replace all references of Client {currentCode} with {newCode}.","description":"API endpoint: api/v1/client/{currentCode}/replace/{newCode}\n\n","operationId":"Client_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Client code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Client code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Client_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/client/{code}":{"delete":{"tags":["Client"],"summary":"Delete record for given Client {code}.","description":"API endpoint: api/v1/client/{code}\n\n","operationId":"Client_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Client record.","schema":{"$ref":"#/definitions/Client_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"CLIENTA","values":{},"name":"Client A","active":true,"createdAt":"2023-03-09T15:41:10.165882Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.165882Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a department. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Client"],"summary":"Update record for Client {code}.","description":"API endpoint: api/v1/client/{code}\n\n","operationId":"Client_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Client record.","required":true,"schema":{"$ref":"#/definitions/Client_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Client record.","schema":{"$ref":"#/definitions/Client_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"CLIENTA","values":{},"name":"Client A","active":true,"createdAt":"2023-03-09T15:41:10.1638811Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.1638811Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a department. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/client/list":{},"/api/v1/client/detail":{},"/api/v1/client/names":{},"/api/v1/client/export/detail":{},"/api/v1/client/validate":{},"/api/v2/client/{code}":{},"/api/v1/clientmatter":{"get":{"tags":["Client Matter"],"summary":"Get a list of all Client Matters.","description":"API endpoint: api/v1/clientmatter\n\n","operationId":"ClientMatter_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of all Client Matters.","schema":{"$ref":"#/definitions/ClientMatter_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"clientCode":"CC001","description":"This is a sample description","code":"CM001","values":{},"name":"CM Name","active":true,"createdAt":"2023-03-09T15:41:10.2898695Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.2898695Z","modifiedBy":"adminusername"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Client Matter"],"summary":"Create a new Client Matter record.","description":"API endpoint: api/v1/clientmatter\n\n","operationId":"ClientMatter_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Client Matter record.","required":true,"schema":{"$ref":"#/definitions/ClientMatter_Post-model"}}],"responses":{"200":{"description":"Returns the created Client Matter record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"clientCode":"CC001","description":"This is a sample description","code":"CM001","values":{},"name":"CM Name","active":true,"createdAt":"2023-03-09T15:41:10.2968716Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.2968716Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/clientmatter/dropdown":{},"/api/v1/clientmatter/{code}/usages":{"get":{"tags":["Client Matter"],"summary":"Get all references for Client Matter {code}.","description":"API endpoint: api/v1/clientmatter/{code}/usages\n\n","operationId":"ClientMatter_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client Matter code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Client Matter references.","schema":{"$ref":"#/definitions/ClientMatter_GetUsages"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/clientmatter/{currentCode}/replace/{newCode}":{"put":{"tags":["Client Matter"],"summary":"Replace all references of Client Matter {currentCode} with {newCode}.","description":"API endpoint: api/v1/clientmatter/{currentCode}/replace/{newCode}\n\n","operationId":"ClientMatter_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Client Matter code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Client Matter code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/ClientMatter_PutReplace"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/clientmatter/{code}":{"delete":{"tags":["Client Matter"],"summary":"Delete record for given Client Matter {code}.","description":"API endpoint: api/v1/clientmatter/{code}\n\n","operationId":"ClientMatter_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client Matter code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Client Matter record.","schema":{"$ref":"#/definitions/ClientMatter_Delete"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"clientCode":"CC001","description":"This is a sample description","code":"CM001","values":{},"name":"CM Name","active":true,"createdAt":"2023-03-09T15:41:10.3218686Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.3218686Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a client matter. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"},"patch":{"tags":["Client Matter"],"summary":"Update record for Client Matter {code}.","description":"API endpoint: api/v1/clientmatter/{code}\n\n","operationId":"ClientMatter_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client Matter code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Client Matter record.","required":true,"schema":{"$ref":"#/definitions/ClientMatter_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Client Matter record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"clientCode":"CC001","description":"This is a sample description","code":"CM001","values":{},"name":"CM Name","active":true,"createdAt":"2023-03-09T15:41:10.3138695Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.3138695Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a client matter. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/clientmatter/list":{},"/api/v1/clientmatter/detail":{},"/api/v1/clientmatter/export/detail":{},"/api/v1/clientmatter/validate":{},"/api/v1/clientmatter/names":{},"/api/v2/clientmatter/{code}":{},"/api/v1/clt-matter-billing":{"put":{"tags":["Client Matter Billing"],"summary":"Update a Client Matter Time and Billing record (Deprecated version)","description":"API endpoint: api/v1/clt-matter-billing\n\n<div>\r\n  <br />\r\n  <b>Please Note:</b> If the client matter time and billing record does not exist for the provided payload, then the PUT request will create a new record.\r\n            </div>","operationId":"ClientMatterManagement_Put","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"data","in":"body","description":"The Client Matter Time &amp; Billing record.","required":true,"schema":{"$ref":"#/definitions/ClientMatterManagement_Put-data"}}],"responses":{"200":{"description":"Returns the Client Matter Time &amp; Billing record.","schema":{"$ref":"#/definitions/ClientMatterManagement_Put"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"id":0,"reviewer":"EMPCODE001","reviewee":"EMPCODE002","clientCode":"CC001","clientMatterCode":"CM001","duration":1.0,"start":"2023-03-09T15:41:10.3878652Z","end":"2023-03-09T15:41:10.3878652Z"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Client Matter Billing"],"summary":"Create a Client Matter Time and Billing record.","description":"API endpoint: api/v1/clt-matter-billing\n\n","operationId":"ClientMatterManagement_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"data","in":"body","description":"The new Client Matter Time &amp; Billing record.","required":true,"schema":{"$ref":"#/definitions/ClientMatterManagement_Put-data"}}],"responses":{"200":{"description":"Returns the created Client Matter Time &amp; Billing record.","schema":{"$ref":"#/definitions/ClientMatterManagement_Put"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"id":0,"reviewer":"EMPCODE001","reviewee":"EMPCODE002","clientCode":"CC001","clientMatterCode":"CM001","duration":1.0,"start":"2023-03-09T15:41:10.3858692Z","end":"2023-03-09T15:41:10.3858692Z"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/clt-matter-billing/{employeeId}/client-matters/{relativeMonths}":{"get":{"tags":["Client Matter Billing"],"summary":"Get all Client Matter Time and Billing for {employeeId}","description":"API endpoint: api/v1/clt-matter-billing/{employeeId}/client-matters/{relativeMonths}\n\n","operationId":"ClientMatterManagement_GetHistoricalList","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"employeeId","in":"path","description":"The Employee Id.","required":true,"type":"string"},{"name":"relativeMonths","in":"path","description":"Number of months relative to current day.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns all Client Matter Time &amp; Billing for an employee.","schema":{"$ref":"#/definitions/ClientMatterManagement_GetHistoricalList"},"examples":{"application/json":null}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/clt-matter-billing/detail":{},"/api/v1/clt-matter-billing/list":{},"/api/v1/clt-matter-billing/export/detail":{},"/api/v1/clt-matter-billing/reviewees":{},"/api/v1/clt-matter-billing/reviewers":{},"/api/v1/clt-matter-billing/clientMatterDrawer/export/detail":{},"/api/v2/clt-matter-billing":{"put":{"tags":["Client Matter Billing"],"summary":"Update a Client Matter Time and Billing record.","description":"API endpoint: api/v2/clt-matter-billing\n\n<div>\r\n  <br />\r\n  <b>Please Note:</b> If the client matter time and billing record does not exist for the provided payload, then the PUT request will create a new record.\r\n            </div>","operationId":"ClientMatterManagementCo_Put","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"data","in":"body","description":"The Client Matter Time &amp; Billing record.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ClientMatterManagement_Put-data"}}}],"responses":{"200":{"description":"Returns success status if all records are inserted.","schema":{"$ref":"#/definitions/ClientMatterManagementCo_Put"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"206":{"description":"Returns partial success status and error message if some records were inserted and some has error.","schema":{"$ref":"#/definitions/ClientMatterManagementCo_Put"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/competency":{"get":{"tags":["Competency"],"summary":"Get a list of all Competencies.","description":"API endpoint: api/v1/competency\n\n","operationId":"Competency_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Competencies.","schema":{"$ref":"#/definitions/Competency_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"parent":"COMP001","description":"Interaction with colleagues, solving problems, and managing work.","code":"COMP002","name":"Soft Skills","active":true,"createdAt":"2023-03-09T15:41:10.5078677Z","createdBy":"adminuser","modifiedAt":"2023-03-09T15:41:10.5078677Z","modifiedBy":"adminuser"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Competency"],"summary":"Create a new Competency record.","description":"API endpoint: api/v1/competency\n\n","operationId":"Competency_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Competency record.","required":true,"schema":{"$ref":"#/definitions/Competency_Post-model"}}],"responses":{"200":{"description":"Returns the created Competency record if successful.","schema":{"$ref":"#/definitions/Competency_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"parent":"COMP001","description":"Interaction with colleagues, solving problems, and managing work.","code":"COMP002","name":"Soft Skills","active":true,"createdAt":"2023-03-09T15:41:10.5198771Z","createdBy":"adminuser","modifiedAt":"2023-03-09T15:41:10.5198771Z","modifiedBy":"adminuser"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/competency/{code}/usages":{"get":{"tags":["Competency"],"summary":"Get all references for Competency {code}.","description":"API endpoint: api/v1/competency/{code}/usages\n\n","operationId":"Competency_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Competency code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Competency references.","schema":{"$ref":"#/definitions/Competency_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/competency/{currentCode}/replace/{newCode}":{"put":{"tags":["Competency"],"summary":"Replace all references of Competency {currentCode} with {newCode}.","description":"API endpoint: api/v1/competency/{currentCode}/replace/{newCode}\n\n","operationId":"Competency_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Competency code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Competency code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Competency_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/competency/{code}":{"delete":{"tags":["Competency"],"summary":"Delete record for given Competency {code}.","description":"API endpoint: api/v1/competency/{code}\n\n","operationId":"Competency_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Competency code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Competency record.","schema":{"$ref":"#/definitions/ClientMatter_Delete"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"parent":"COMP001","description":"Interaction with colleagues, solving problems, and managing work.","code":"COMP002","name":"Soft Skills","active":true,"createdAt":"2023-03-09T15:41:10.5298648Z","createdBy":"adminuser","modifiedAt":"2023-03-09T15:41:10.5298648Z","modifiedBy":"adminuser"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a competency. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"},"patch":{"tags":["Competency"],"summary":"Update record for Competency {code}.","description":"API endpoint: api/v1/competency/{code}\n\n","operationId":"Competency_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Competency code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Competency record.","required":true,"schema":{"$ref":"#/definitions/Competency_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Competency record.","schema":{"$ref":"#/definitions/Competency_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"parent":"COMP001","description":"Interaction with colleagues, solving problems, and managing work.","code":"COMP002","name":"Soft Skills","active":true,"createdAt":"2023-03-09T15:41:10.5288695Z","createdBy":"adminuser","modifiedAt":"2023-03-09T15:41:10.5288695Z","modifiedBy":"adminuser"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a competency. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/country":{"get":{"tags":["Country"],"summary":"Get a list of all Countries.","description":"API endpoint: api/v1/country\n\n","operationId":"Country_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Countries.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"ZW","values":{},"name":"Zimbabwe","active":true,"createdAt":"2023-03-09T15:41:10.5308662Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.5308662Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/country/{code}/usages":{},"/api/v1/country/{currentCode}/replace/{newCode}":{},"/api/v1/country/{code}":{},"/api/v1/dashboardSettings":{},"/api/v1/dashboardSettings/{category}":{},"/api/v1/dashboardSettings/{attachmentId}/attachment":{},"/api/v1/dashboardSettings/{attachmentId}/attachment/{filename}":{},"/api/v1/dashboardSettings/{attachmentId}/attachment/{filename}/download":{},"/api/v1/dashboardSettings/{attachmentId}/attachment/{filename}/delete":{},"/api/v1/dashboardSettings/{attachmentId}/attachment/{filename}/visibility":{},"/api/v1/dashboardTile":{},"/api/v1/defaultEmailTemplate":{},"/api/v1/department":{"get":{"tags":["Department"],"summary":"Get a list of all Departments.","description":"API endpoint: api/v1/department\n\n","operationId":"Department_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Departments.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"HR","values":{},"name":"Human Resources","active":true,"createdAt":"2023-03-09T15:41:10.5968632Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.5968632Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Department"],"summary":"Create a new Department record.","description":"API endpoint: api/v1/department\n\n","operationId":"Department_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Department record.","required":true,"schema":{"$ref":"#/definitions/Department_Post-model"}}],"responses":{"200":{"description":"Returns the created Department record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"HR","values":{},"name":"Human Resources","active":true,"createdAt":"2023-03-09T15:41:10.5978671Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.5978671Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/department/{code}/usages":{"get":{"tags":["Department"],"summary":"Get all references for Department {code}.","description":"API endpoint: api/v1/department/{code}/usages\n\n","operationId":"Department_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Department code.","required":true,"type":"string"},{"name":"deactivate","in":"query","description":"An optional parameter used to determine if the usages is for deactivation checking. Set to false by default.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns all Department references.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/department/{currentCode}/replace/{newCode}":{"put":{"tags":["Department"],"summary":"Replace all references of Department {currentCode} with {newCode}.","description":"API endpoint: api/v1/department/{currentCode}/replace/{newCode}\n\n","operationId":"Department_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Department code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Department code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/department/dropdown":{},"/api/v1/department/{code}":{"delete":{"tags":["Department"],"summary":"Delete record for given Department {code}.","description":"API endpoint: api/v1/department/{code}\n\n","operationId":"Department_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Department code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Department record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"HR","values":{},"name":"Human Resources","active":true,"createdAt":"2023-03-09T15:41:10.6038637Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.6038637Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a department. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Department"],"summary":"Update record for Department {code}.","description":"API endpoint: api/v1/department/{code}\n\n","operationId":"Department_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Department code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Department record.","required":true,"schema":{"$ref":"#/definitions/Client_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Department record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"HR","values":{},"name":"Human Resources","active":true,"createdAt":"2023-03-09T15:41:10.6028663Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.6028663Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a department. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/department/names":{},"/api/v1/developmentPlan":{"get":{"tags":["Development Plan"],"summary":"Get a list of all Development Plans.","description":"API endpoint: api/v1/developmentPlan\n\n","operationId":"DevelopmentPlan_Get","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Returns a list of all Development Plans.","schema":{"$ref":"#/definitions/DevelopmentPlan_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Development Plan"],"summary":"Create a new Development Plan.","description":"API endpoint: api/v1/developmentPlan\n\n","operationId":"DevelopmentPlan_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"create","in":"body","description":"The new Development Plan.","required":true,"schema":{"$ref":"#/definitions/DevelopmentPlan_Post-create"}}],"responses":{"200":{"description":"Returns the created Development Plan.","schema":{"$ref":"#/definitions/DevelopmentPlan_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/developmentPlan/own":{},"/api/v1/developmentPlan/own/filtered":{},"/api/v1/developmentPlan/team/filtered":{},"/api/v1/developmentPlan/kpicount/filtered":{},"/api/v1/developmentPlan/team":{},"/api/v1/developmentPlan/add":{},"/api/v1/developmentPlan/{id}":{"get":{"tags":["Development Plan"],"summary":"Get Development Plan details for {id}.","description":"API endpoint: api/v1/developmentPlan/{id}\n\n","operationId":"DevelopmentPlan_GetDevelopmentPlanOtherDetail","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Development Plan id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DevelopmentPlan_GetDevelopmentPlanOtherDetail"}}},"x-display":"Public"},"delete":{"tags":["Development Plan"],"summary":"Delete record for Development Plan {id}.","description":"API endpoint: api/v1/developmentPlan/{id}\n\n","operationId":"DevelopmentPlan_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Development Plan id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the deleted Development Plan record.","schema":{"$ref":"#/definitions/DevelopmentPlan_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Development Plan"],"summary":"Update the record for Development Plan {id}.","description":"API endpoint: api/v1/developmentPlan/{id}\n\n","operationId":"DevelopmentPlan_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Development Plan id.","required":true,"type":"integer","format":"int32"},{"name":"patch","in":"body","description":"The Development Plan data.","required":true,"schema":{"$ref":"#/definitions/DevelopmentPlan_Post-create"}}],"responses":{"200":{"description":"Returns the updated Development Plan record.","schema":{"$ref":"#/definitions/DevelopmentPlan_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {id} does not correspond to an development plan. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/developmentPlan/{id}/edit":{},"/api/v1/developmentPlan/{id}/delete":{},"/api/v1/developmentPlan/{id}/clone":{"post":{"tags":["Development Plan"],"summary":"Copy an existing Development Plan.","description":"API endpoint: api/v1/developmentPlan/{id}/clone\n\n","operationId":"DevelopmentPlan_Clone","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Development Plan id.","required":true,"type":"integer","format":"int32"},{"name":"clone","in":"body","description":"The data used to perform the clone operation.","required":true,"schema":{"$ref":"#/definitions/DevelopmentPlan_Clone-clone"}}],"responses":{"200":{"description":"Returns the copied Development Plan.","schema":{"$ref":"#/definitions/DevelopmentPlan_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/developmentPlan/{id}/copy":{},"/api/v1/developmentPlan/detail":{"post":{"tags":["Development Plan"],"summary":"Get a list of Development Plans based on {id}.","description":"API endpoint: api/v1/developmentPlan/detail\n\n","operationId":"DevelopmentPlan_GetDevelopmentPlanDetail","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","description":"List of Development Plan ids.","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DevelopmentPlan_GetDevelopmentPlanDetail"}}},"x-display":"Public"}},"/api/v1/developmentPlan/person/dropdown":{},"/api/v1/developmentPlan/{developmentPlanId}/attachment":{"put":{"tags":["Development Plan - Attachment"],"summary":"Upload an attachment associated with {developmentPlanId}.","description":"API endpoint: api/v1/developmentPlan/{developmentPlanId}/attachment\n\n","operationId":"DevelopmentPlanAttachment_PutFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"developmentPlanId","in":"path","description":"The Development Plan id.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the details of the uploaded data.","schema":{"$ref":"#/definitions/ActivityAttachment_PutFile"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {developmentPlanId} does not correspond to a development plan. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/developmentPlan/{developmentPlanId}/attachment/{filename}":{},"/api/v1/developmentPlan/{developmentPlanId}/attachment/{filename}/download":{},"/api/v1/developmentPlan/{developmentPlanId}/attachment/{filename}/delete":{},"/api/v1/developmentPlan/{developmentPlanId}/attachment/{filename}/visibility":{},"/api/v1/developmentPlan/{developmentPlanId}/comment":{},"/api/v1/developmentPlan/comment/{commentId}":{},"/api/v1/developmentPlanStatus":{},"/api/v1/developmentPlanStatus/{code}/usages":{},"/api/v1/developmentPlanStatus/{currentCode}/replace/{newCode}":{},"/api/v1/developmentPlanStatus/{code}":{},"/api/v1/education":{"get":{"tags":["Education"],"summary":"Get a list of all Educations.","description":"API endpoint: api/v1/education\n\n","operationId":"Education_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"educationType","in":"query","description":"The Education Type code.","required":false,"type":"string"},{"name":"personId","in":"query","description":"The Employee id.","required":false,"type":"string"},{"name":"schoolCode","in":"query","description":"The School code.","required":false,"type":"string"}],"responses":{"200":{"description":"Returns a list of Educations.","schema":{"$ref":"#/definitions/Education_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"id":1,"employeeId":"EMP001","year":2000,"educationType":"Business","school":"CALTECH"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/education/{educationId}":{},"/api/v1/educationtype":{"get":{"tags":["Education Type"],"summary":"Get a list of all Education Types.","description":"API endpoint: api/v1/educationtype\n\n","operationId":"EducationType_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Education Types.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"Business","values":{},"name":"Business Degree","active":true,"createdAt":"2023-03-09T15:41:10.8248753Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.8248753Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/educationtype/{code}/usages":{"get":{"tags":["Education Type"],"summary":"Get all references for Education Type {code}.","description":"API endpoint: api/v1/educationtype/{code}/usages\n\n","operationId":"EducationType_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Education Type code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Education Type references.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/educationtype/{currentCode}/replace/{newCode}":{},"/api/v1/educationtype/{code}":{},"/api/v1/emailTemplate":{},"/api/v1/emailTemplate/{id}":{},"/api/v1/emailTemplate/{id}/copy":{},"/api/v1/emailTemplate/{attachmentId}/attachment":{},"/api/v1/emailTemplate/{attachmentId}/attachment/{filename}":{},"/api/v1/emailTemplate/{attachmentId}/attachment/{filename}/download":{},"/api/v1/emailTemplate/{attachmentId}/attachment/{filename}/delete":{},"/api/v1/emailTemplate/{attachmentId}/attachment/{filename}/visibility":{},"/api/v1/emailTemplateCategory":{},"/api/v1/emailTemplateCategory/{code}/usages":{},"/api/v1/emailTemplateCategory/{currentCode}/replace/{newCode}":{},"/api/v1/emailTemplateCategory/{code}":{},"/api/v1/emailTemplateType":{},"/api/v1/emailTemplateType/{code}/usages":{},"/api/v1/emailTemplateType/{currentCode}/replace/{newCode}":{},"/api/v1/emailTemplateType/{code}":{},"/api/v1/emailToken":{},"/api/v1/emailToken/{emailtemplatetypecode}":{},"/api/v1/ethnicity":{"get":{"tags":["Ethnicity"],"summary":"Get a list of all Ethnicities.","description":"API endpoint: api/v1/ethnicity\n\n","operationId":"Ethnicity_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Ethnicities.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"HI001","values":{},"name":"Hispanic","active":true,"createdAt":"2023-03-09T15:41:10.9258708Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.9258708Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Ethnicity"],"summary":"Create a new Ethnicity record.","description":"API endpoint: api/v1/ethnicity\n\n","operationId":"Ethnicity_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Ethnicity record.","required":true,"schema":{"$ref":"#/definitions/Department_Post-model"}}],"responses":{"200":{"description":"Returns the created Ethnicity record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"HI001","values":{},"name":"Hispanic","active":true,"createdAt":"2023-03-09T15:41:10.9268702Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.9268702Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/ethnicity/{code}/usages":{"get":{"tags":["Ethnicity"],"summary":"Get all references for Ethnicity {code}.","description":"API endpoint: api/v1/ethnicity/{code}/usages\n\n","operationId":"Ethnicity_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Ethnicity code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Ethnicity references.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/ethnicity/{currentCode}/replace/{newCode}":{"put":{"tags":["Ethnicity"],"summary":"Replace all references of Ethnicity {currentCode} with {newCode}.","description":"API endpoint: api/v1/ethnicity/{currentCode}/replace/{newCode}\n\n","operationId":"Ethnicity_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Ethnicity code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Ethnicity code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/ethnicity/{code}":{"delete":{"tags":["Ethnicity"],"summary":"Delete record for given Ethnicity {code}.","description":"API endpoint: api/v1/ethnicity/{code}\n\n","operationId":"Ethnicity_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Ethnicity code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Ethnicity record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"HI001","values":{},"name":"Hispanic","active":true,"createdAt":"2023-03-09T15:41:10.930863Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.930863Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a ethnicity. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Ethnicity"],"summary":"Update record for Ethnicity {code}.","description":"API endpoint: api/v1/ethnicity/{code}\n\n","operationId":"Ethnicity_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Ethnicity code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Ethnicity record.","required":true,"schema":{"$ref":"#/definitions/Client_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Ethnicity record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"HI001","values":{},"name":"Hispanic","active":true,"createdAt":"2023-03-09T15:41:10.9298603Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:10.9298603Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a ethnicity. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/export":{},"/api/v1/export/{tableName}":{},"/api/v1/feedback/edit":{},"/api/v1/feedback/{id}":{},"/api/v1/feedback/reply":{},"/api/v1/feedback/reply/{id}":{},"/api/v1/feedback/list":{},"/api/v1/feedback/basic/detail":{},"/api/v1/feedback/detail":{},"/api/v1/feedback/responses":{},"/api/v1/feedback/sender/{getType}/dropdown":{},"/api/v1/feedback/recipients/{getType}/dropdown":{},"/api/v1/feedback/export/detail":{},"/api/v1/feedback/massDeleteList":{},"/api/v1/feedback/massDelete":{},"/api/v1/feedback/{id}/sendReminder":{},"/api/v1/feedback/draft/list":{},"/api/v1/feedback/draft/basic/detail":{},"/api/v1/feedback/draft/detail":{},"/api/v1/feedback/draft/settings":{},"/api/v1/feedback/draft/new":{},"/api/v1/feedback":{},"/api/v1/feedback/draft/{draftId}":{},"/api/v1/feedback/draft/recipients/own/dropdown":{},"/api/v1/feedback/received/list":{},"/api/v1/feedback/received/employee":{},"/api/v1/feedback/received/basic/detail":{},"/api/v1/feedback/received/detail":{},"/api/v1/feedback/received/responses":{},"/api/v1/feedback/received/kpicount/filtered":{},"/api/v1/feedback/received/unread":{},"/api/v1/feedback/sent/list":{},"/api/v1/feedback/sent/basic/detail":{},"/api/v1/feedback/sent/detail":{},"/api/v1/feedback/sent/responses":{},"/api/v1/feedback/sent/kpicount/filtered":{},"/api/v1/feedback/sent/unread":{},"/api/v1/form/dropdown":{},"/api/v1/form/names":{},"/api/v1/form/detail":{},"/api/v1/form/formList":{},"/api/v1/formbuilder":{},"/api/v1/formbuilder/{formId}":{},"/api/v1/formbuilder/validate/formName":{},"/api/v1/formbuilder/{formId}/active":{},"/api/v1/formbuilder/token":{},"/api/v1/formbuilder/token/{formtypecode}":{},"/api/v1/formBuilder/{attachmentId}/attachment":{},"/api/v1/formBuilder/{attachmentId}/attachment/{filename}":{},"/api/v1/formBuilder/{attachmentId}/attachment/{filename}/download":{},"/api/v1/formBuilder/{attachmentId}/attachment/{filename}/delete":{},"/api/v1/formBuilder/{attachmentId}/attachment/{filename}/visibility":{},"/api/v1/formcategorytype":{},"/api/v1/formcategorytype/{code}":{},"/api/v1/formcategorytype/{code}/usages":{},"/api/v1/formcategorytype/{currentCode}/replace/{newCode}":{},"/api/v1/formnumberexclude":{},"/api/v1/formnumberexclude/{code}/usages":{},"/api/v1/formnumberexclude/{currentCode}/replace/{newCode}":{},"/api/v1/formnumberexclude/{code}":{},"/api/v1/formnumberstyle":{},"/api/v1/formnumberstyle/{code}/usages":{},"/api/v1/formnumberstyle/{currentCode}/replace/{newCode}":{},"/api/v1/formnumberstyle/{code}":{},"/api/v1/formscoretype":{},"/api/v1/formscoretype/{code}/usages":{},"/api/v1/formscoretype/{currentCode}/replace/{newCode}":{},"/api/v1/formscoretype/{code}":{},"/api/v1/formtype":{},"/api/v1/formtype/{code}/usages":{},"/api/v1/formtype/{currentCode}/replace/{newCode}":{},"/api/v1/formtype/{code}":{},"/api/v1/gender":{"get":{"tags":["Gender"],"summary":"Get a list of all Genders.","description":"API endpoint: api/v1/gender\n\n","operationId":"Gender_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Genders.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"F","values":{},"name":"Female","active":true,"createdAt":"2023-03-09T15:41:11.4008601Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.4008601Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Gender"],"summary":"Create a new Gender record.","description":"API endpoint: api/v1/gender\n\n","operationId":"Gender_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Gender record.","required":true,"schema":{"$ref":"#/definitions/Department_Post-model"}}],"responses":{"200":{"description":"Returns the created Gender record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"F","values":{},"name":"Female","active":true,"createdAt":"2023-03-09T15:41:11.4018595Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.4018595Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/gender/{code}/usages":{"get":{"tags":["Gender"],"summary":"Get all references for Gender {code}.","description":"API endpoint: api/v1/gender/{code}/usages\n\n","operationId":"Gender_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Gender code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Gender references.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/gender/{currentCode}/replace/{newCode}":{"put":{"tags":["Gender"],"summary":"Replace all references of Gender {currentCode} with {newCode}.","description":"API endpoint: api/v1/gender/{currentCode}/replace/{newCode}\n\n","operationId":"Gender_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Gender code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Gender code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/gender/{code}":{"delete":{"tags":["Gender"],"summary":"Delete record for given Gender {code}.","description":"API endpoint: api/v1/gender/{code}\n\n","operationId":"Gender_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Gender code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Gender record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"F","values":{},"name":"Female","active":true,"createdAt":"2023-03-09T15:41:11.4068627Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.4068627Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a gender. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Gender"],"summary":"Update record for Gender {code}.","description":"API endpoint: api/v1/gender/{code}\n\n","operationId":"Gender_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Gender code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Gender record.","required":true,"schema":{"$ref":"#/definitions/Client_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Gender record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"F","values":{},"name":"Female","active":true,"createdAt":"2023-03-09T15:41:11.405867Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.405867Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a gender. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/goal":{"get":{"tags":["Goal"],"summary":"Get a list of all Goals.","description":"API endpoint: api/v1/goal\n\n","operationId":"Goal_Get","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Returns a list of all Goals.","schema":{"$ref":"#/definitions/Goal_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Goal"],"summary":"Create a new Goal.","description":"API endpoint: api/v1/goal\n\n","operationId":"Goal_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"create","in":"body","required":true,"schema":{"$ref":"#/definitions/Goal_Post-create"}}],"responses":{"200":{"description":"Returns the created Goal record if successful.","schema":{"$ref":"#/definitions/Goal_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Goal"],"summary":"Update weights assigned to a Goal {id}.","description":"API endpoint: api/v1/goal\n\n","operationId":"Goal_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"patches","in":"body","description":"The updated weights.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Goal_Patch-patches"}}}],"responses":{"200":{"description":"Returns the list of modified Goal details.","schema":{"$ref":"#/definitions/Goal_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/goal/add":{},"/api/v1/goal/{id}":{"patch":{"tags":["Goal"],"summary":"Update record for a Goal {id}.","description":"API endpoint: api/v1/goal/{id}\n\n","operationId":"Goal_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Goal id.","required":true,"type":"integer","format":"int32"},{"name":"patch","in":"body","description":"The modified goal data.","required":true,"schema":{"$ref":"#/definitions/Goal_Post-create"}}],"responses":{"200":{"description":"Returns the modified Goal detail.","schema":{"$ref":"#/definitions/Goal_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {id} does not correspond to an activity. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/goal/{id}/clone":{},"/api/v1/goal/{id}/cascade":{},"/api/v1/goal/{id}/cascadeGoal":{},"/api/v1/goal/{id}/devPlans":{},"/api/v1/goal/detail":{},"/api/v1/goal/list":{},"/api/v1/goal/own/filtered":{},"/api/v1/goal/person/dropdown":{},"/api/v1/goal/team/filtered":{},"/api/v1/goal/kpicount/filtered":{},"/api/v1/goal/goalCategoryByUserRole":{},"/api/v1/goal/goalListByUserRole":{},"/api/v1/goal/goalAssigneeByUserRole":{},"/api/v1/goal/{code}/goalListByCategoryCode":{},"/api/v1/goal/{id}/edit":{},"/api/v1/goal/{id}/copy":{},"/api/v1/goal/{id}/developmentPlans":{},"/api/v1/goal/{id}/sendReminder":{},"/api/v1/goal/{goalId}/attachment":{"put":{"tags":["Goal - Attachments"],"summary":"Upload an attachment associated with {goalId}","description":"API endpoint: api/v1/goal/{goalId}/attachment\n\n","operationId":"GoalAttachment_PutFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"goalId","in":"path","description":"The Goal id.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the attachment details.","schema":{"$ref":"#/definitions/ActivityAttachment_PutFile"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {goalId} does not correspond to a goal. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/goal/{goalId}/attachment/{filename}":{},"/api/v1/goal/{goalId}/attachment/{filename}/download":{},"/api/v1/goal/{goalId}/attachment/{filename}/delete":{},"/api/v1/goal/{goalId}/attachment/{filename}/visibility":{},"/api/v1/goalcategory":{"get":{"tags":["Goal Category"],"summary":"Get a list of all Goal Categories.","description":"API endpoint: api/v1/goalcategory\n\n","operationId":"GoalCategory_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Goal Categories.","schema":{"$ref":"#/definitions/Country_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Goal Category"],"summary":"Create a new Goal Category record.","description":"API endpoint: api/v1/goalcategory\n\n","operationId":"GoalCategory_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Goal Category record.","required":true,"schema":{"$ref":"#/definitions/GoalCategory_Post-model"}}],"responses":{"200":{"description":"Returns the created Goal Category record.","schema":{"$ref":"#/definitions/ClientMatter_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/goalcategory/{code}/usages":{"get":{"tags":["Goal Category"],"summary":"Get all references for Goal Category {code}.","description":"API endpoint: api/v1/goalcategory/{code}/usages\n\n","operationId":"GoalCategory_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Goal Category code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Goal Category references.","schema":{"$ref":"#/definitions/Country_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/goalcategory/{currentCode}/replace/{newCode}":{"put":{"tags":["Goal Category"],"summary":"Replace all references of Goal Category {currentCode} with {newCode}.","description":"API endpoint: api/v1/goalcategory/{currentCode}/replace/{newCode}\n\n","operationId":"GoalCategory_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Goal Category code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Goal Category code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Country_Get"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/goalcategory/{code}":{"delete":{"tags":["Goal Category"],"summary":"Delete record for given Goal Category {code}.","description":"API endpoint: api/v1/goalcategory/{code}\n\n","operationId":"GoalCategory_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Client code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Goal Category record.","schema":{"$ref":"#/definitions/ClientMatter_Delete"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a department. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"},"patch":{"tags":["Goal Category"],"summary":"Update record for Goal Category {code}.","description":"API endpoint: api/v1/goalcategory/{code}\n\n","operationId":"GoalCategory_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Goal Category code.","required":true,"type":"string"},{"name":"model","in":"body","description":"The Goal Category record.","required":true,"schema":{"$ref":"#/definitions/GoalCategory_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Goal Category record.","schema":{"$ref":"#/definitions/ClientMatter_Post"}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a department. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."},"204":{"description":"No change was required. Response is empty."}},"x-display":"Public"}},"/api/v1/goal/{goalId}/comment":{},"/api/v1/goal/comment/{commentId}":{},"/api/v1/goalstatus":{},"/api/v1/goalstatus/{code}/usages":{},"/api/v1/goalstatus/{currentCode}/replace/{newCode}":{},"/api/v1/goalstatus/{code}":{},"/api/v1/group":{"get":{"tags":["Group"],"summary":"Get a list of all Groups.","description":"API endpoint: api/v1/group\n\n","operationId":"Group_Get","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Returns a list of Groups.","schema":{"$ref":"#/definitions/Group_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"users":[{"criteria":["Inclusion"],"username":"adminuser","userIdentityId":100,"groupId":1}],"emailTemplates":[],"createdAt":"2023-03-09T15:41:11.7188613Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.7188613Z","modifiedBy":"adminusername","status":"Active","criteria":{"CriteriaList":"","Inclusions":["manageruser"]},"id":0,"code":null,"name":"Admin Group Members","active":true,"archived":false,"userIdentities":["Inclusion"],"description":"Adming & Manager Group"}],"responseMetadata":null}}},"403":{"description":"Returns a list of Groups."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/group/dropdown":{},"/api/v1/group/detail":{},"/api/v1/group/{groupId}":{},"/api/v1/group/{groupId}/criteria":{},"/api/v1/group/{groupId}/active":{},"/api/v1/group/{groupId}/archive":{},"/api/v1/group/copy":{},"/api/v1/group/validate":{"post":{"tags":["Group"],"summary":"Validate if a Group name already exists.","description":"API endpoint: api/v1/group/validate\n\n","operationId":"Group_ValidateGroupName","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"groupName","in":"body","description":"The group name to validate.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Returns if the group name is valid or has any errors.","schema":{"$ref":"#/definitions/Group_ValidateGroupName"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"value":"HR Group","isValid":true,"error":""},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/group/names":{},"/api/v1/i18n":{},"/api/v1/import/table":{},"/api/v1/import":{},"/api/v1/import/{id}":{},"/api/v1/import/{id}/file":{},"/api/v1/import/{importId}/row/{rowId}":{},"/api/v1/import/{id}/mapping":{},"/api/v1/import/{id}/start":{},"/api/v1/integration/legacycem/token":{},"/api/v1/integration/create":{},"/api/v1/integration/view":{},"/api/v1/integration/edit":{},"/api/v1/interest":{"get":{"tags":["Interests"],"summary":"Get a list of all Interests.","description":"API endpoint: api/v1/interest\n\n","operationId":"Interest_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Interests.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"ARTS","values":{},"name":"Arts","active":true,"createdAt":"2023-03-09T15:41:11.9478621Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.9478621Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Interests"],"summary":"Create a new Interest record.","description":"API endpoint: api/v1/interest\n\n","operationId":"Interest_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"create","in":"body","required":true,"schema":{"$ref":"#/definitions/Department_Post-model"}}],"responses":{"200":{"description":"Returns the created Interest record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"ARTS","values":{},"name":"Arts","active":true,"createdAt":"2023-03-09T15:41:11.9488591Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.9488591Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/interest/{code}/usages":{"get":{"tags":["Interests"],"summary":"Get all references for Interest {code}.","description":"API endpoint: api/v1/interest/{code}/usages\n\n","operationId":"Interest_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Interest code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns all Interest references.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/interest/{currentCode}/replace/{newCode}":{"put":{"tags":["Interests"],"summary":"Replace all references of Interest {currentCode} with {newCode}.","description":"API endpoint: api/v1/interest/{currentCode}/replace/{newCode}\n\n","operationId":"Interest_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Interest code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Interest code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/interest/{code}":{"delete":{"tags":["Interests"],"summary":"Delete record for given Interest {code}.","description":"API endpoint: api/v1/interest/{code}\n\n","operationId":"Interest_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Interest code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Interest record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"ARTS","values":{},"name":"Arts","active":true,"createdAt":"2023-03-09T15:41:11.9538615Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.9538615Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a interest. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"patch":{"tags":["Interests"],"summary":"Update record for Interest {code}.","description":"API endpoint: api/v1/interest/{code}\n\n","operationId":"Interest_Patch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Interest code.","required":true,"type":"string"},{"name":"patch","in":"body","description":"The Interest record.","required":true,"schema":{"$ref":"#/definitions/Client_Patch-model"}}],"responses":{"200":{"description":"Returns the updated Interest record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"ARTS","values":{},"name":"Arts","active":true,"createdAt":"2023-03-09T15:41:11.9518582Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.9518582Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a interest. Response is empty."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/label":{},"/api/v1/label/{code}/usages":{},"/api/v1/label/{currentCode}/replace/{newCode}":{},"/api/v1/label/{code}":{},"/api/v1/labelGroup":{},"/api/v1/labelGroup/{code}/usages":{},"/api/v1/labelGroup/{currentCode}/replace/{newCode}":{},"/api/v1/labelGroup/{code}":{},"/api/v1/language":{"get":{"tags":["Language"],"summary":"Get a list of all Languages.","description":"API endpoint: api/v1/language\n\n","operationId":"Language_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Languages.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"en","values":{},"name":"English","active":true,"createdAt":"2023-03-09T15:41:11.9998643Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:11.9998643Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/language/{code}/usages":{},"/api/v1/language/{currentCode}/replace/{newCode}":{},"/api/v1/language/{code}":{},"/api/v1/lcIntegration/application/{employeeId}":{},"/api/v1/lcIntegration/application/{applicationId}/interviews":{},"/api/v1/lcIntegration/interview/{interviewId}/report":{},"/api/v1/level":{"get":{"tags":["Level"],"summary":"Get a list of all Levels.","description":"API endpoint: api/v1/level\n\n","operationId":"Level_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"allLanguages","in":"query","description":"Set true to return names for all languages.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns a list of Levels.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"code":"L1","values":{},"name":"Level 1","active":true,"createdAt":"2023-03-09T15:41:12.0288541Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:12.0288541Z","modifiedBy":"adminusername"}],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"},"post":{"tags":["Level"],"summary":"Create a new Level record.","description":"API endpoint: api/v1/level\n\n","operationId":"Level_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The new Level record.","required":true,"schema":{"$ref":"#/definitions/Department_Post-model"}}],"responses":{"200":{"description":"Returns the created Level record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"L1","values":{},"name":"Level 1","active":true,"createdAt":"2023-03-09T15:41:12.0308566Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:12.0308566Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/level/{code}/usages":{"get":{"tags":["Level"],"summary":"Get all references for Level {code}.","description":"API endpoint: api/v1/level/{code}/usages\n\n","operationId":"Level_GetUsages","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Level code.","required":true,"type":"string"},{"name":"deactivate","in":"query","description":"An optional parameter used to determine if the usages is for deactivation checking. Set to false by default.","required":false,"type":"boolean"}],"responses":{"200":{"description":"Returns all Level references.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[{"count":1,"entity":"Entity Description"}],"responseMetadata":{"sortDirection":"Ascending","sortBy":"Name","totalCount":1,"totalResultCount":0,"currentPage":1,"pageSize":1,"groupCount":null,"fieldOptions":null,"filterOptions":null}}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/level/{currentCode}/replace/{newCode}":{"put":{"tags":["Level"],"summary":"Replace all references of Level {currentCode} with {newCode}.","description":"API endpoint: api/v1/level/{currentCode}/replace/{newCode}\n\n","operationId":"Level_PutReplace","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"currentCode","in":"path","description":"The current Level code to be replaced.","required":true,"type":"string"},{"name":"newCode","in":"path","description":"The new Level code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns an empty result set.","schema":{"$ref":"#/definitions/Country_Get"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":[],"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"500":{"description":"An unexpected error occurred. Response contains error details."}},"x-display":"Public"}},"/api/v1/level/dropdown":{},"/api/v1/level/{code}":{"delete":{"tags":["Level"],"summary":"Delete record for given Level {code}.","description":"API endpoint: api/v1/level/{code}\n\n","operationId":"Level_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"The Level code.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the deleted Level record.","schema":{"$ref":"#/definitions/ClientMatter_Post"},"examples":{"application/json":{"errors":[],"fieldErrors":[],"result":{"code":"L1","values":{},"name":"Level 1","active":true,"createdAt":"2023-03-09T15:41:12.0368556Z","createdBy":"adminusername","modifiedAt":"2023-03-09T15:41:12.0368556Z","modifiedBy":"adminusername"},"responseMetadata":null}}},"403":{"description":"Logged-in user doesn't have the required permissions."},"404":{"description":"The {code} does not correspond to a level
[...]
