{
  "openapi": "3.0.1",
  "info": {
    "title": "CE Manager API",
    "description": "## Introduction\r\n\r\nCE Manager is the market leader in continuing education compliance tracking software. For almost 20 years, firms in over 400 jurisdictions have relied on CE Manager for its CLE, CPE, and CPD tracking and professional development capabilities.\r\n\r\nCE Manager's API is organized around **REST**. Our API has predictable resource-oriented URLs, accepts **form-encoded** request bodies, returns **JSON-encoded** responses, and uses standard HTTP response codes, authentication, and verbs.\r\n\r\n**Features**\r\n\r\n- Retrieve, create and update users, courses, and sessions.\r\n- Register attendees, instructors and clients.\r\n- Upload attendance certificates.\r\n- Manage system tables.\r\n\r\n## Authentication\r\n\r\nFirms using the CE Manger API will be given a **client_id** and **client_secret**, both of which can be retrieved from the API Client screen. The **client_id** and **client_secret** are then used to generate an **access_token**, which is used in a request’s authorization header. \r\n\r\nTo generate an **access_token**, make a POST request to the Token URL with the following:\r\n\r\n\r\n**Request Header**\r\n\r\n|Parameter|Value|Description|\r\n|------|------|------|\r\n|Authorization|Basic BASE64(client_id:client_secret)|*Base64* representation of the app **client_id** and app **client_secret**, concatenated with a colon|\r\n|Content-Type|application/x-www-form-urlencoded|\r\n\r\n**Request Body**\r\n\r\n| Parameter| Value |Description |\r\n| ------ | ------ |------ |\r\n|grant_type|```client_credentials``` |Default grant type used to obtain an access token|\r\n|client_id| ```client_id``` |The provided **client_id**|\r\n|scope| ```cem/api``` |Defines the actions that can be executed on a user's behalf|\r\n\r\nAll API requests must be made over  [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made over plain HTTP will fail. API requests without authentication will also fail.\r\n### Sample request to get the access token\r\n```\r\n\r\nvar myHeaders = new Headers();\r\nmyHeaders.append(\"Authorization\", \"Basic [Base64 representation of the client_id and client_secret]\");\r\nmyHeaders.append(\"Content-Type\", \"application/x-www-form-urlencoded\");\r\n\r\nvar urlencoded = new URLSearchParams();\r\nurlencoded.append(\"scope\", \"cem/api\");\r\nurlencoded.append(\"client_id\", \"[client_id]\");\r\n\r\nvar requestOptions = {\r\n  method: 'POST',\r\n  headers: myHeaders,\r\n  body: urlencoded,\r\n  redirect: 'follow'\r\n};\r\n\r\nfetch(\"https://[Auth URL provided by Micron]/oauth2/token?grant_type=client_credentials\", requestOptions)\r\n  .then(response => response.text())\r\n  .then(result => console.log(result))\r\n  .catch(error => console.log('error', error));\r\n\r\n```\r\n### Sample request using the access token\r\n```\r\n\r\nvar myHeaders = new Headers();\r\nmyHeaders.append(\"Content-Type\", \"application/json\");\r\nmyHeaders.append(\"Authorization\", \"Bearer [ACCESS TOKEN GOES HERE]\");\r\n\r\nvar raw = JSON.stringify({\r\n  page: 1,\r\n  pageSize: 10,\r\n  sortBy: \"name\",\r\n});\r\n\r\nvar requestOptions = {\r\n  method: \"POST\",\r\n  headers: myHeaders,\r\n  body: raw\r\n};\r\n\r\nfetch(\r\n  https://api.cem.micronapps.com/api/Maintenance/Affiliation/GetAll,\r\n  requestOptions\r\n)\r\n  .then((response) => response.text())\r\n  .then((result) => console.log(result))\r\n  .catch((error) => console.log(\"error\", error));\r\n\r\n  ```\r\n## Responses\r\nAll endpoints return the response data as a **JSON** object. See each endpoint for a description of all retrievable objects.\r\n\r\n### Response codes\r\nThe CE Manager API uses the following response status codes, as defined in the RFC 2616 and RFC 6585:\r\n\r\n| Response Code| Description |\r\n| ------ | ------ |\r\n|200|OK - The request has succeeded.|\r\n|400|Bad Request - The request could not be understood by the server due to malformed syntax. The message body will contain more information; see Response Schema. |\r\n|401|Unauthorized - The request did not include valid authorization credentials for the target resource. |\r\n|403|Forbidden - The client lacked permission to access the requested resource. |\r\n|404|Not Found - The requested resource could not be found. This error can be due to a temporary or permanent condition. |\r\n|429|Too Many Requests - The user has sent too many requests within a set period of time. |\r\n|500|Internal Server Error. The request could not be completed due to an internal error on the server side. |\r\n|502|Bad Gateway - The server was acting as a gateway or proxy and received an invalid response from the upstream server. |\r\n|503|Service Unavailable - The server is temporarily unable to handle the request. You can choose to resend the request. |\r\n\r\n## Filtering & Pagination\r\n\r\n| Property| Type |Description |\r\n| ------ | ------ |------ |\r\n|FilterBy|string[]| Set a property that will filter the result set. The set will only include results matching the value of the property <ColumnName>[contains]:<wordFilter> (e.g. Title[contains]:2021)|\r\n|SearchCriteria|string[]| Search within a result set using a defined property (more than 1) <ColumnName>: <value> (e.g. SessionFormat: 13)|\r\n|SortBy|string|Choose a property that will sort the result set (e.g. title), add '-' before the property to display results in descending order (e.g. -title)|\r\n|Page|int|Indicates the page number of result set.|\r\n|PageSize|int|Indicates the number of rows that will be returned per page. The default is 10 records.|\r\n\r\n## Policies\r\n\r\n**Deprecation Policy** The current API version is v1. Once a new version of the API is made publicly available, earlier versions will be deprecated and will cease functioning after one year. Once the older API is removed, any requests using that version will result in a 404 error.\r\n\r\n> Note: No API will be removed until similar functionality is present in the newest version.\r\n\r\n**Breaking Change** Policy changes that do not break an API, such as the inclusion of new attributes, can be made at any time. Changes that break a production level API (such as removing attributes or making large-scale changes to the API’s behavior) will typically only occur after 60 days advance notice. In the rare occasions where breaking changes must be made immediately (due to legal, performance, or security concerns), advance notice may not be given.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.cem.micronapps.com"
    }
  ],
  "paths": {
    "/api/Maintenance/Affiliation/GetAll": {
      "post": {
        "tags": [
          "Affiliation"
        ],
        "summary": "List affiliations.",
        "description": "Retrieve affiliations based on the given parameters.\r\n___\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **Active** | Return records flagged as active. | ```searchCriteria: [\"Active\"]``` |\r\n| **Archived** | Return records flagged as archived. | ```searchCriteria: [\"Archived\"]``` |\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **name** | ```sortBy: \"name\"``` |\r\n| **city** | ```sortBy: \"city\"``` |\r\n| **stateId** | ```sortBy: \"stateId\"``` |\r\n| **countryId** | ```sortBy: \"countryId\"``` |\r\n| **isActive**  | ```sortBy: \"isActive\"``` |",
        "operationId": "Affiliation-GetAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllAffiliationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllAffiliationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllAffiliationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Affiliation/GetById/{affiliationId}": {
      "get": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Find affiliation by Id.",
        "description": "View specific details of a client affiliation based on the supplied id.",
        "operationId": "Affiliation-GetById",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "path",
            "description": "Affiliation Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Affiliation/GetByCode/{affiliationCode}": {
      "get": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Find affiliation by code.",
        "description": "View specific details of a client affiliation based on the supplied code.",
        "operationId": "Affiliation-GetByCode",
        "parameters": [
          {
            "name": "affiliationCode",
            "in": "path",
            "description": "Affiliation code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Affiliation/Create": {
      "post": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Add a new affiliation.",
        "description": "Create a new affiliation.",
        "operationId": "Affiliation-Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAffiliationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAffiliationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAffiliationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Affiliation/Update": {
      "put": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Update an affiliation.",
        "description": "Update an affiliation based on the specified Id.",
        "operationId": "Affiliation-Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAffiliationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAffiliationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAffiliationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliationInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Affiliation/Delete": {
      "delete": {
        "tags": [
          "Affiliation"
        ],
        "summary": "Delete affiliations.",
        "description": "Delete affiliations based on the specified Ids. Returns a list of invalid records for deletion.",
        "operationId": "Affiliation-Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAffiliationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAffiliationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAffiliationCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AffiliationInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AffiliationInfo"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/ClassYear/GetAll": {
      "post": {
        "tags": [
          "ClassYear"
        ],
        "summary": "List class years.",
        "description": "List all availabe class years within the firm.\r\n___\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **Active** | Return records flagged as active. | ```searchCriteria: [\"Active\"]``` |\r\n| **Archived** | Return records flagged as archived. | ```searchCriteria: [\"Archived\"]``` |\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **name** | ```sortBy: \"name\"``` |\r\n| **userCount** | ```sortBy: \"userCount\"``` |\r\n| **courseCount** | ```sortBy: \"courseCount\"``` |\r\n| **isActive** | ```sortBy: \"isActive\"``` |",
        "operationId": "ClassYear-GetAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllClassYearQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllClassYearQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllClassYearQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/ClassYear/GetById/{classYearId}": {
      "get": {
        "tags": [
          "ClassYear"
        ],
        "summary": "Find class year by Id.",
        "description": "View specific details of a class year based on the supplied id.",
        "operationId": "ClassYear-GetById",
        "parameters": [
          {
            "name": "classYearId",
            "in": "path",
            "description": "Class Year Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/ClassYear/GetByCode/{classYearCode}": {
      "get": {
        "tags": [
          "ClassYear"
        ],
        "summary": "Find class year by code.",
        "description": "View specific details of a class year based on the supplied code.",
        "operationId": "ClassYear-GetByCode",
        "parameters": [
          {
            "name": "classYearCode",
            "in": "path",
            "description": "Class Year Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/ClassYear/Create": {
      "post": {
        "tags": [
          "ClassYear"
        ],
        "summary": "Add a new class year.",
        "description": "Create a new class year.",
        "operationId": "ClassYear-Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassYearCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassYearCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassYearCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/ClassYear/Update": {
      "put": {
        "tags": [
          "ClassYear"
        ],
        "summary": "Update a class year.",
        "description": "Update information of an existing class year. The request allows multiple updating of class years.",
        "operationId": "ClassYear-Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassYearCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassYearCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassYearCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassYearInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/ClassYear/Delete": {
      "delete": {
        "tags": [
          "ClassYear"
        ],
        "summary": "Delete class years.",
        "description": "Delete a class years based on the provided class year Id.",
        "operationId": "ClassYear-Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteClassYearCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteClassYearCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteClassYearCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassYearInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassYearInfo"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Competency/GetAll": {
      "post": {
        "tags": [
          "Competency"
        ],
        "summary": "List competencies.",
        "description": "List all available competency.\r\n___\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **Active** | Return records flagged as active. | ```searchCriteria: [\"Active\"]``` |\r\n| **Archived** | Return records flagged as archived. | ```searchCriteria: [\"Archived\"]``` |\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **name** | ```sortBy: \"name\"``` |\r\n| **location** | ```sortBy: \"location\"``` |\r\n| **sessionCount** | ```sortBy: \"sessionCount\"``` |\r\n| **isActive**  | ```sortBy: \"isActive\"``` |",
        "operationId": "Competency-GetAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCompetenciesQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCompetenciesQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCompetenciesQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Competency/GetById/{competencyId}": {
      "get": {
        "tags": [
          "Competency"
        ],
        "summary": "Find a competency by id.",
        "description": "View specific details of a competency based on the supplied id.",
        "operationId": "Competency-GetById",
        "parameters": [
          {
            "name": "competencyId",
            "in": "path",
            "description": "Competency Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Competency/GetByCode/{competencyCode}": {
      "get": {
        "tags": [
          "Competency"
        ],
        "summary": "Find competency by code.",
        "description": "View specific details of a competency based on the supplied code.",
        "operationId": "Competency-GetByCode",
        "parameters": [
          {
            "name": "competencyCode",
            "in": "path",
            "description": "Competency Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Competency/Create": {
      "post": {
        "tags": [
          "Competency"
        ],
        "summary": "Add a new competency.",
        "description": "Create a new competency.",
        "operationId": "Competency-Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompetencyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompetencyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompetencyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Competency/Update": {
      "put": {
        "tags": [
          "Competency"
        ],
        "summary": "Update a competency.",
        "description": "Update a competency based on the specified Id.",
        "operationId": "Competency-Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompetencyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompetencyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompetencyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetencyInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Competency/Delete": {
      "delete": {
        "tags": [
          "Competency"
        ],
        "summary": "Delete competencies.",
        "description": "Delete competencies based on the specified Ids. Returns a list of invalid records for deletion.",
        "operationId": "Competency-Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCompetencyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCompetencyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCompetencyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompetencyInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompetencyInfo"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Compliance/GetStatuses": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "List compliance statuses",
        "description": "Get list of all compliance statuses.",
        "operationId": "Compliance-GetStatuses",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComplianceStatusInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComplianceStatusInfo"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Compliance/Get": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Get a compliance report of user",
        "description": "View a compliance report of a specific license of user based on the supplied id.",
        "operationId": "Compliance-Get",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserLicenseComplianceReportQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserLicenseComplianceReportQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserLicenseComplianceReportQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLicenseComplianceInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLicenseComplianceInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Compliance/GetAll": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "List compliance reports of users",
        "description": "List all compliance report of users within the firm based on the given parameters.\r\n___\r\n\r\n### FilterBy Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **Keyword** | Search for the keyword in LastName, FirstName, Middlename, and Login Id fields. | ```filterBy: [\"keyword[contains]:jane\"]``` |\r\n| **LastName** | Search by Lastname. | ```filterBy: [\"lastName[contains]:Smith\"]``` |\r\n| **FirstName** | Search by Firstname. | ```filterBy: [\"firstName[contains]:Jane\"]``` |\r\n| **Email** | Search by Email. | ```filterBy: [\"email[contains]:j.smith@example.net\"]``` |\r\n\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **License** | Search by License Ids. | ```searchCriteria: [\"UserLicense: 200, 201\"]``` |\r\n| **ComplianceStatus** | Search by Compliance Status Ids.| ```searchCriteria: [\"ComplianceStatus: 1, 2\"]``` |\r\n| **UserStatus** | Search by Status. 1 = Active; 2 = Inactive| ```searchCriteria: [\"UserStatus: 1, 2\"]``` |\r\n| **UserClassYear** | Search by User Class Year Ids. | ```searchCriteria: [\"UserClassYear: 1\"]``` |\r\n| **UserGroup** | Search by User Group Ids. | ```searchCriteria: [\"UserGroup: 1\"]``` |\r\n| **UserDepartment** | Search by User Department Ids. | ```searchCriteria: [\"UserDepartment: 2\"]``` |\r\n| **UserLevel** | Search by User Level Ids. | ```searchCriteria: [\"UserLevel: 3\"]``` |\r\n| **UserLocation** | Search by User Location Ids. | ```searchCriteria: [\"UserLocation: 3\"]``` |\r\n| **UserPosition** | Search by User Position Ids. | ```searchCriteria: [\"UserPosition: 3\"]``` |\r\n| **UserPracticeArea** | Search by User Practice Area Ids. | ```searchCriteria: [\"UserPracticeArea: 1,2\"]``` |\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **lastName** | ```sortBy: \"lastName\"``` |\r\n| **firstName** | ```sortBy: \"firstName\"``` |",
        "operationId": "Compliance-GetAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllUsersWithLicensesCurrentPeriodQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllUsersWithLicensesCurrentPeriodQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllUsersWithLicensesCurrentPeriodQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceLicenseeInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceLicenseeInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Compliance/GetStatistics": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Get compliance statistics",
        "description": "Get the statistics of all licenses in the firm, the next reporting date, and the number of users for each compliance status.\r\n___\r\n\r\n### FilterBy Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **LicenseName** | Search by LicenseName. | ```filterBy: [\"licenseName[contains]:New York\"]``` |",
        "operationId": "Compliance-GetStatistics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceStatisticsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceStatisticsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceStatisticsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceStatisticsInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceStatisticsInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Country/GetAll": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "List all Countries.",
        "description": "List all available countries within the firm.",
        "operationId": "Country-GetAll",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Country/GetById/{countryId}": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Find country by Id.",
        "description": "View a specific details of a country based on the supplied id.",
        "operationId": "Country-GetById",
        "parameters": [
          {
            "name": "CountryId",
            "in": "path",
            "description": "Country Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/County/GetAll": {
      "get": {
        "tags": [
          "County"
        ],
        "summary": "List all Counties.",
        "description": "List all available counties within the firm.",
        "operationId": "County-GetAll",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountyInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountyInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/GetAll": {
      "post": {
        "tags": [
          "Course"
        ],
        "summary": "List courses.",
        "description": "List all courses based on the given filters.\r\n___\r\n\r\n### FilterBy Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **Title** | Search by Course Title. | ```filterBy: [\"Title[contains]:Ethics\"]``` |\r\n| **Description** | Search by Course Description. | ```filterBy: [\"Description[contains]:Intermediate\"]``` |\r\n\r\n\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **ProviderIds** | Search by Provider | ```searchCriteria: [\"ProviderIds: 1, 2\"]``` |\r\n| **SessionFormat** | Search by Session Format| ```searchCriteria: [\"SessionFormat: 1, 2\"]``` |\r\n| **ExcludeArchived** | Do not included archived courses| ```searchCriteria: [\"ExcludeArchived\"]``` |\r\n| **ExcludeActive** | Do not included active courses| ```searchCriteria: [\"ExcludeActive\"]``` |\r\n| **SessionInstructor** | Search by instructor name| ```searchCriteria: [\"SessionInstructor:Joe\"]``` |\r\n| **License** | Search by License| ```searchCriteria: [\"License:14\"]``` |\r\n| **CourseClassYear** | Search by Class Year| ```searchCriteria: [\"CourseClassYear: 1, 2\"]``` |\r\n| **CourseCompetency** | Search by Competency| ```searchCriteria: [\"CourseCompetency: 1, 2\"]``` |\r\n| **CourseDepartment** | Search by Department| ```searchCriteria: [\"CourseDepartment: 1, 2\"]``` |\r\n| **CourseLevel** | Search by Level| ```searchCriteria: [\"CourseLevel: 1, 2\"]``` |\r\n| **CoursePracticeArea** | Search by Practice Area| ```searchCriteria: [\"CoursePracticeArea: 1, 2\"]``` |\r\n| **CourseTag** | Search by Tag| ```searchCriteria: [\"CourseTag: 1, 2\"]``` |\r\n\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **title** | ```sortBy: \"title\"``` |\r\n| **providerName** | ```sortBy: \"providerName\"``` |",
        "operationId": "Course-GetAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCoursesV2Query"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCoursesV2Query"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCoursesV2Query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/GetById/{courseId}": {
      "get": {
        "tags": [
          "Course"
        ],
        "summary": "Find course by Id.",
        "description": "View course information based on the supplied id.",
        "operationId": "Course-GetById",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Course Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/GetByCode/{courseCode}": {
      "get": {
        "tags": [
          "Course"
        ],
        "summary": "Find course by code.",
        "description": "View course information based on the supplied course code.",
        "operationId": "Course-GetByCode",
        "parameters": [
          {
            "name": "courseCode",
            "in": "path",
            "description": "Course Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/GetSessions": {
      "post": {
        "tags": [
          "Course"
        ],
        "summary": "List all sessions by course Id.",
        "description": "List all sessions associated to the course.\r\n___\r\n\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **PreviousSessionsOnly** | Retrieve sessions prior to today. | ```searchCriteria: [\"PreviousSessionsOnly\"]``` |\r\n| **UpcomingSessionsOnly** | Retrieve upcoming sessions| ```searchCriteria: [\"UpcomingSessionsOnly\"]``` |\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **title** | ```sortBy: \"title\"``` |\r\n| **startDate** | ```sortBy: \"startDate\"``` |\r\n| **endDate** | ```sortBy: \"endDate\"``` |\r\n| **courseFormat** | ```sortBy: \"courseFormat\"``` |",
        "operationId": "Course-GetSessions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllSessionByCourseIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllSessionByCourseIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllSessionByCourseIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/Create": {
      "post": {
        "tags": [
          "Course"
        ],
        "summary": "Add a new course.",
        "description": "Create a new course.",
        "operationId": "Course-Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourseCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourseCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourseCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/Update": {
      "put": {
        "tags": [
          "Course"
        ],
        "summary": "Update a course.",
        "description": "Update an existing course.",
        "operationId": "Course-Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCourseCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCourseCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCourseCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Core/Course/Delete": {
      "delete": {
        "tags": [
          "Course"
        ],
        "summary": "Delete Courses.",
        "description": "Delete courses based on the supplied course Ids.",
        "operationId": "Course-Delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCourseCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCourseCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCourseCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/CourseFormat/GetAll": {
      "get": {
        "tags": [
          "CourseFormat"
        ],
        "summary": "List all Course Formats.",
        "description": "List all available course formats within the firm.",
        "operationId": "CourseFormat-GetAll",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseFormatInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseFormatInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/CourseFormat/GetById/{courseFormatId}": {
      "get": {
        "tags": [
          "CourseFormat"
        ],
        "summary": "Find course format by Id.",
        "description": "View a specific details of a course format based on supplied id.",
        "operationId": "CourseFormat-GetById",
        "parameters": [
          {
            "name": "CourseFormatId",
            "in": "path",
            "description": "Course Format Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseFormatInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseFormatInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Department/GetAll": {
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "List Departments",
        "description": "List all available departments within the firm based on the given parameters.\r\n___\r\n### SearchCriteria Parameters:\r\n| Parameter| Description | Example |\r\n| ------ | ------ |------ |\r\n| **Active** | Return records flagged as active. | ```searchCriteria: [\"Active\"]``` |\r\n| **Archived** | Return records flagged as archived. | ```searchCriteria: [\"Archived\"]``` |\r\n\r\n### SortBy Options:\r\n| Parameter | Example |\r\n| ------ | ------ |\r\n| **name** | ```sortBy: \"name\"``` |\r\n| **userCount** | ```sortBy: \"userCount\"``` |\r\n| **courseCount** | ```sortBy: \"courseCount\"``` |\r\n| **isActive**  | ```sortBy: \"isActive\"``` |",
        "operationId": "Department-GetAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllDepartmentQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllDepartmentQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllDepartmentQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfoList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfoList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Department/GetById/{departmentId}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Find department by Id.",
        "description": "View specific details of a department based on the supplied id.",
        "operationId": "Department-GetById",
        "parameters": [
          {
            "name": "DepartmentId",
            "in": "path",
            "description": "Department Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Department/GetByCode/{departmentCode}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Find department by code.",
        "description": "View specific details of a department based on the supplied code.",
        "operationId": "Department-GetByCode",
        "parameters": [
          {
            "name": "DepartmentCode",
            "in": "path",
            "description": "Department code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Department/Create": {
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Add a new department.",
        "description": "Create a new department.",
        "operationId": "Department-Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepartmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepartmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepartmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodeProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Maintenance/Department/Update": {
      "put": {
        "tags": [
          "Department"
        ],
        "summary": "Update a department.",
        "description": "Update an existing department based on the specified Id.",
        "operationId": "Department-Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepartmentCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepartmentCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepartmentCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                }
              },
              "text/json": {
[...]
